<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Payment | Car-Go</title>
  <link rel="stylesheet" href="../static/css/payment.css">
  <link href="https://fonts.cdnfonts.com/css/poppins" rel="stylesheet">
</head>
<body>

  <header>
    <div class="navigation">
      <label class="logo">C<span class="highlight">AR</span>-Go</label>
      <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="aboutUs.html">About</a></li>
        <li><a href="contactUs.html">Contact</a></li>
        <li><a href="login.html" class="btn-logout">Logout</a></li>
      </ul>
    </div>
  </header>

  <section class="payment-section">
    <div class="payment-container">
      <h2>Payment Details</h2>

      <div id="bookingSummary" class="summary-box">
        <h3>Booking Summary</h3>
        <p><strong>Vehicle:</strong> <span id="vehicleName"></span></p>
        <p><strong>Duration:</strong> <span id="dateRange"></span></p>
        <p><strong>Total Amount:</strong> ₹<span id="totalAmount"></span></p>
      </div>
        <form id="paymentForm">
    <label>Cardholder Name</label>
    <input type="text" id="cardName" required>
    <small id="nameError" class="error"></small>

    <label>Card Number</label>
    <input type="text" id="cardNumber" maxlength="16" required>
    <small id="cardNumberError" class="error"></small>

    <label>Expiry Date</label>
    <input type="month" id="expiry" required>
    <small id="expiryError" class="error"></small>

    <label>CVV</label>
    <input type="text" id="cvv" maxlength="3" required>
    <small id="cvvError" class="error"></small>

     <button type="submit" class="btn">Make Payment</button>
    <p id="paymentStatus"></p>
</form>

      <div id="paymentMessage" class="success-message"></div>
    </div>
  </section>

  <footer>
    <p>&copy; 2025 Car-Go. All Rights Reserved.</p>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
  <script src="../static/js/payment.js"></script>

</body>
</html>
